.MuiCard-root.card {
  box-shadow: 0 10px 13px -4px rgba(35, 35, 95, 0.19);
  border-radius: 18px;
  height: 100%;
}

.MuiCardContent-root.cardContent:last-child {
  padding: 12px 18px 18px 18px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.img {
  max-height: 144px;
  max-width: 144px;
  padding: 9px 16px;
}

.text {
  font-family: 'Nunito';
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  color: #39414B;
}